.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

$colors: pink, green, yellow, blue, red;

@for $i from 1 through length($colors) {
  .book-#{$i} {
    background-color: nth($colors, $i);
  }
}
